.general {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;   
  object-fit: contain;
  background-color:  hsl(225, 100%, 94%);
  width: 1440px;
  padding: 0px;
}
.contenedor {
  background-color: white;
  box-shadow: hsl(224, 23%, 55%) 0px 10px 10px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: row;
  place-content: center;
  margin: 70px 0px 70px 430px;
  width: 30.6%;
  border-radius: 15px;
  padding: 0px;
}
.imagen {
  border-radius: 10px 10px 0px 0px;
  width: 88.2%;
  height: 210px;
  margin-left: 30px;
  position: relative;
}
.title {
  font-weight: 900;
  text-align: center;
  margin-top: 36px;
}
.parrafo {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  text-align: center;
}
.contenido {
  background-color: hsl(225, 100%, 98%);
  display: grid;
  grid-template-columns: 60px 100px 120px;
  grid-template-rows: 80px;
  place-content: center;
  gap: 10px;
  border-radius: 10px;
  width: 60%;
  margin: 10px 0px 10px 100px;
}
.icono {
  margin-top: 16px;
  margin-left: 18px;
}
.grupo {
  margin-bottom: 10px;
}
.plan {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 8px;
}
.precio {
  font-size: 13px;
  color: hsl(224, 23%, 55%);
  margin-top: 0px;
  margin-left: 8px;
}
.cambio {
  font-size: 14px;
  color: hsl(245, 75%, 52%);
  margin-top: 26px;
  margin-left: 46px;
}
.item-1 {
  grid-row-start: 1;
  grid-row-end: 5;
}
.item-2 {
  grid-row-start: 5;
  grid-row-end: 7;
}
.item-3 {
  grid-row-start: 7;
  grid-row-end: 9;
  height: 140px;
}
.button-primary {
  background-color: hsl(245, 75%, 52%);
  box-shadow: hsl(225, 100%, 94%) 0px 20px 16px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  width: 60%;
  height: 42px;
  margin: 15px 0px 30px 100px;
  border: none;
}
.cancel {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-size: 12px;
  margin-left: 210px;
}

@media (max-width: 375px) {
  .general {
    background-image: url(./images/pattern-background-mobile.svg);
  }
  .contenedor {
    width: 22%;
    margin-left: 14px;
  }
  .contenido {
    width: 50%;
    margin-left: 124px;
  }
  .icono {
    margin-left: 9px;
  }
  .plan {

  } 
  .precio {

  }
  .imagen {
    width: 63.4%;
    height: 135px;
    margin-left: 92px;
  }
  .button-primary {
    width: 50%;
    height: 42px;
    margin-left: 124px;
  }
  .cancel {
    margin-left: 215px;
  }
}