.general {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;   
  object-fit: contain;
  background-color:  hsl(225, 100%, 94%);
  width: 1440px;
  padding: 10px;
}
.contenedor {
  background-color: white;
  box-shadow: hsl(224, 23%, 55%) 0px 10px 10px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: row;
  place-content: center;
  margin: 2px 0px 2px 430px;
  width: 30%;
  border-radius: 15px;
  padding: 0px;
}
.imagen {
  border-radius: 12px 12px 0px 0px;
  width: 86.4%;
  height: 210px;
  margin-left: 34px;
  position: relative;
}
.title {
  font-weight: 900;
  text-align: center;
  margin-top: 36px;
}
.parrafo {
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  text-align: center;
}
.contenido {
  background-color: hsl(225, 100%, 98%);
  display: grid;
  grid-template-columns: 50px 100px 120px;
  grid-template-rows: 90px;
  place-content: center;
  gap: 10px;
  border-radius: 14px;
  width: 70%;
  margin: 10px 0px 10px 74px;
}
.icono {
  margin-top: 20px;
}
.grupo {
  margin-bottom: 10px;
}
.plan {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
}
.precio {
  font-size: 13px;
  color: hsl(224, 23%, 55%);
  margin-top: 5px;
  margin-left: 8px;
}
.cambio {
  font-size: 14px;
  color: hsl(245, 75%, 52%);
  margin-top: 34px;
  margin-left: 60px;
}
.cambio:hover {
  color: hsla(245, 75%, 52%, 0.685);
  text-decoration: none;
}
.item-1 {
  grid-row-start: 1;
  grid-row-end: 5;
}
.item-2 {
  grid-row-start: 5;
  grid-row-end: 7;
}
.item-3 {
  grid-row-start: 7;
  grid-row-end: 9;
  height: 140px;
}
.button-primary {
  background-color: hsl(245, 75%, 52%);
  box-shadow: hsl(225, 100%, 94%) 0px 20px 16px;
  font-size: 12px;
  font-weight: 800;
  color: white;
  border-radius: 10px;
  width: 70%;
  height: 42px;
  margin: 15px 0px 30px 74px;
  border: none;
}
.button-primary:hover {
  background-color: hsla(245, 75%, 52%, 0.685);
  cursor: pointer;
}
.cancel {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  margin-left: 210px;
}
.cancel:hover {
  color: hsl(0, 100%, 0%);
}

@media (max-width: 375px) {
  .general {
    background-image: url(./images/pattern-background-mobile.svg);
  }
  .contenedor {
    width: 22%;
    margin-left: 14px;
  }
  .contenido {
    width: 50%;
    margin-left: 124px;
  }
  .icono {
    margin-left: 34px;
  }
  .grupo {
    margin-left: 10px;
  } 
  .cambio {
    margin-left: 30px;
  }
  .imagen {
    width: 63.4%;
    height: 135px;
    margin-left: 92px;
  }
  .button-primary {
    width: 50%;
    height: 42px;
    margin-left: 124px;
  }
  .cancel {
    margin-left: 215px;
  }
}